<!-- Tu formulario para agregar/editar productos -->
<form [formGroup]="agregarProducto" class="d-flex flex-column" (ngSubmit)="agregar()">
    <!-- Campos del formulario -->
    <div class="mb-3">
        <label for="titulo" class="form-label">Título del Producto</label>
        <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Ingrese el título" required autocomplete="off">
        <span *ngIf="agregarProducto.get('titulo')?.invalid && agregarProducto.get('titulo')?.touched" class = "text-danger">
            El <strong>nombre del producto </strong>es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="creador" class="form-label">Personal a Cargo</label>
        <input formControlName="creador" type="text" class="form-control" id="creador" placeholder="Ingrese el nombre del creador" required autocomplete="off">
        <span *ngIf="agregarProducto.get('creador')?.invalid && agregarProducto.get('creador')?.touched" class = "text-danger">
            El <strong>nombre del personal </strong>es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción del Producto</label>
        <textarea formControlName="descripcion" class="form-control" id="descripcion" rows="3" placeholder="Ingrese la descripción" required></textarea>
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha de Creación</label>
        <input formControlName="fechaCreacion" type="date" class="form-control" id="fechaCreacion" required>
    </div>

    <!-- Botones -->
    <div class="mt-3 d-flex justify-content-between">
        <button type="button" routerLink="/" class="btn btn-danger">Volver</button>
        <button type="submit" [disabled]="agregarProducto.invalid" class="btn btn-primary">Agregar</button>
    </div>
</form>
