<div class="row mt-3">
    <div class="col-lg-6">
        <h3>Lista de Clientes</h3>
    </div>
    <div class="col-lg-6 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
            Añadir Cliente
        </button>
    </div>
</div>

<!-- Modal Agregar Cliente -->
<div class="modal" id="agregarClienteModal" tabindex="-1" aria-labelledby="agregarClienteModal" aria-hidden="true">    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Añadiendo Nuevo Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" required autocomplete="off" [(ngModel)]="client.nombre">
                    <span *ngIf="!client.nombre" class="text-danger">El nombre es requerido</span>
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" placeholder="Ingrese el DNI" required autocomplete="off" [(ngModel)]="client.dni">
                    <span *ngIf="!client.dni" class="text-danger">El DNI es requerido</span>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección" required autocomplete="off" [(ngModel)]="client.direccion">
                    <span *ngIf="!client.direccion" class="text-danger">La dirección es requerida</span>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="Ingrese el teléfono" required autocomplete="off" [(ngModel)]="client.telefono">
                    <span *ngIf="!client.telefono" class="text-danger">El teléfono es requerido</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarCliente()">Añadir Cliente</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Cliente -->
<div class="modal" id="editarClienteModal" tabindex="-1" aria-labelledby="editarClienteModal" aria-hidden="true">    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editando Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nombreEdit" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreEdit" placeholder="Ingrese el nombre" required [(ngModel)]="client.nombre">
                    <span *ngIf="!client.nombre" class="text-danger">El nombre es requerido</span>
                </div>
                <div class="mb-3">
                    <label for="dniEdit" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dniEdit" placeholder="Ingrese el DNI" required [(ngModel)]="client.dni">
                    <span *ngIf="!client.dni" class="text-danger">El DNI es requerido</span>
                </div>
                <div class="mb-3">
                    <label for="direccionEdit" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccionEdit" placeholder="Ingrese la dirección" required [(ngModel)]="client.direccion">
                    <span *ngIf="!client.direccion" class="text-danger">La dirección es requerida</span>
                </div>
                <div class="mb-3">
                    <label for="telefonoEdit" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefonoEdit" placeholder="Ingrese el teléfono" required [(ngModel)]="client.telefono">
                    <span *ngIf="!client.telefono" class="text-danger">El teléfono es requerido</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarCliente()">Editar Cliente</button>
            </div>
        </div>
    </div>
</div>

  

<table *ngIf="listClients.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of listClients">
            <td>{{ client.id }}</td>
            <td>{{ client.nombre }}</td>
            <td>{{ client.dni }}</td>
            <td>{{ client.direccion }}</td>
            <td>{{ client.telefono }}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editarClienteModal" (click)="editarClient(client.id)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarClientes(client.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="listClients.length == 0" class="row mt-5">
    <h5>Aún no se han añadido clientes.</h5>
</div>
