<!-- Componente "list-products" con botones Bootstrap -->
<div class="row mt-3">
    <div class="col-lg-6">
        <h3>Lista de Productos</h3>
    </div>
    <div class="col-lg-6 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProductoModal" routerLink = "/agregar">
            Añadir Producto
        </button>
    </div>
</div>

<table *ngIf = "listProducts.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Personal a cargo</th>
            <th>Descripción</th>
            <th>Fecha añadido</th>
        </tr>

        <tr *ngFor = "let products of listProducts">
            <td>
                <a [routerLink]="['/ver', 1]">{{ products.titulo }}</a>
            </td>
            <td>{{ products.creador }}</td>
            <td>{{ products.descripcion }}</td>
            <td>{{ products.fechaCreacion }}</td>
            <td>
                <button class="btn btn-primary btn-sm float-end">Editar</button>
            </td>
            <td style = "width: 10%, " >
                <button class="btn btn-danger btn-sm float-end">Eliminar</button>
            </td>
        </tr>
    </thead>
</table>

<div *ngIf = "listProducts.length == 0" class="row mt-5">
    <h5>Aún no se han añadido productos.</h5>
</div>